{% load staticfiles %}
<footer class="row" style="height: 100%; background:  #3c3c3c; color: #f8f8f8;">
    <div class="col-lg-12 col-md-12 col-sm-12 -align-center" style="margin-top: 20px">

        <div class="col-lg-3 col-md-6 col-sm-12" style="height: 100%;text-align: center">
            <center><p class="lead"> Idara Nusrate Islamia <br><img src="{% static 'local/iniglobal_logo_.png' %}" class="img-responsive"></p></center>
            <p>INI global is an initiative to make the Medhavia Population globally aware of the teaching of Prophet
                Mohammed (s.a.w.) which was revived by Mehdi Alayhis salam.</p>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="height: 100%;">
            <div style="margin-left: 10px">
                <h4><strong>Head Office</strong></h4>
                <hr>
                <p><strong>Idara e Nusrate Islamic</strong></p>
                <p>Plot No 1, Survey No 45,<br> Near Daira Hazrat Bandagi Meeran Syedna Shahe Nusrat Rahmat ullahi alai
                </p>
                <p><i>Lalgadi, Aliabad Village, Shamirpet Mandal, Medchal District, Telangana State</i></p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="height: 100%;">
            <div style="margin-left: 10px">
                <h4><strong>Contact Us</strong></h4>
                <hr>
                <p><strong style="color: #d4d4d4;">Syed Ibrahim Arshad Mahdavi </strong><br>Chief patron INI<br> <span style="color: #b4b4b4;">91 7790 3383</span></p>
                <p><strong style="color: #d4d4d4;">Syed Khundmeer Mahdavi </strong><br>President INI<br> <span style="color: #b4b4b4;">98 4820 7013</span></p>
                <p><strong style="color: #d4d4d4;">Mohammed Jaffer </strong><br>General Secretary INI<br> <span style="color: #b4b4b4;">95 0556 9140</span></p>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12" style="height: 100%;">
            <div style="margin-left: 10px">
                <ul><h4><strong>Site Map</strong></h4>
                    <hr>
                    <li><a href="#">Welcome</a></li>
                    <li><a href="#">Idara</a>*</li>
                    <li><a href="#">Survey</a></li>
                    <li><a href="#">Jobs</a></li>
                    <li><a href="#">Matrimonial</a></li>
                    <li><a href="#">Literature</a></li>
                    <li><a href="#">Videos</a>*</li>
                </ul>
            </div>
        </div>

    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 -align-center"
         style="width: 100%;background: #504e51;text-align: center;">developed with <i class="fa fa-heart"></i> by <a
            style="color: #c2c2c2;" href="#">Ali Khundmiri</a></div>
</footer>