{% extends 'header.html' %}
{% load crispy_forms_tags %}
{#tab_text#}
{% block titlepage %}
    {{ tab_text }} | {{ block.super }}
{% endblock %}

{# top_text#}
{% block Heading %}
    {{ top_text }}
{% endblock %}

{% block head_extra %}
    {{ form.media }}
{% endblock %}

{% block content %}
    {# form_text#}
    <h3>{{ form_text }}</h3>

    <form method='POST' action='' enctype='multipart/form-data'>{% csrf_token %}
        {{ form|crispy }}
        <input type='submit' class='btn btn-default' value='{{ tab_text }}'/>
    </form>
    <br>
    <br>
    <br>
{% endblock %}