{% extends 'header.html' %}

{% block titlepage %}
    Jobs | {{ block.super }}
{% endblock %}

{% block Heading %}
    Job Search Forum!
{% endblock %}

{% block bread_home %}
    <li><a href="{% url 'index' %}">home</a></li>
    <li class="active">{{ title }}</li>
{% endblock %}

{% block content %}
    {% if all_jobs %}
        <div class="row">
            {% for post in all_jobs %}
                <div class="col-sm-12 col-md-12 col-lg-12 -align-center">
                    <div class="thumbnail">

                        <div style="margin-left: 20px; margin-right: 20px;">
                            {% if post.draft %}<span style="color: red"><b>DRAFT</b></span>{% endif %}
                            {% if post.publish > today %}<span style="color: green"><b>Future Post</b></span>{% endif %}
                            <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a> {% if post.image %}
                                <small>has Image <i class="fa fa-image fa-fx"></i></small>{% endif %}</h3>
                            <p>Posted by : {{ post.user }}</p>
                            {% if post.timestamp <= post.updated %}
                                <p>Updated : {{ post.updated|timesince }} ago</p>{% else %}
                                <p>Added : {{ post.timestamp|timesince }} ago</p>{% endif %}
                            <hr>
                            <p style="margin-left: 20px">{{ post.detail }}</p>
                            <br>
                            <hr>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination ">
            <ul class="step-links pager">
                {% if all_jobs.has_previous %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_jobs.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
                    </li>
                {% endif %}

                <span class="current">
                    Page {{ all_jobs.number }} of {{ all_jobs.paginator.num_pages }}.
                </span>

                {% if all_jobs.has_next %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_jobs.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% else %}
        <h3>No Posting exist yet :(</h3>
        <h3><a href="{% url 'jobs:create' %}">Post New</a></h3>
    {% endif %}
{% endblock %}

{% block left_content %}
    <p>Post New Job Offer </p>
    <p><a href="{% url 'jobs:create' %}" class="btn btn-primary" role="button">Post New!</a></p>
    <br>
    <hr>
    <p>Search all <i>Number of posts</i> in Job:</p>
    <form method="get" action="">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Jobs"
                       value="{{ request.GET.q }}">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
    <br>
{% endblock %}
