{% extends 'header.html' %}

{% block titlepage %}
    Questionnaire | {{ block.super }}
{% endblock %}

{% block Heading %}
    Question And Answers!
{% endblock %}

{% block bread_home %}
    <li><a href="{% url 'index' %}">home</a></li>
    <li class="active">{{ title }}</li>
{% endblock %}

{% block content %}
    {% if all_question %}
        <div class="row">
            {% for questions in all_question %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="thumbnail">
                        {% if questions.draft %}<span style="color: red"><b>DRAFT</b></span>{% endif %}
                        {% if questions.publish > today %}
                            <span style="color: green"><b>Future Post</b></span>{% endif %}
                        <div class="caption">
                            <h3><a href="{{ questions.get_absolute_url }}"> {{ questions.question }}</a>
                                {% if questions.detail %}
                                    <small>detailed <i class="fa fa-list-alt fa-fx"></i></small>{% endif %}</h3>
                            <h3>
                                <small>Questioner : {{ questions.user }}</small>
                            </h3>
                            {% if questions.timestamp <= questions.updated %}
                                <p>Last Updated : {{ questions.updated|timesince }} ago</p>
                            {% else %}
                                <p>Added : {{ questions.timestamp|timesince }} ago</p>
                            {% endif %}
                            <p><a href="#" class="btn btn-primary" role="button">{{ questions.comments.count }} Answers</a></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination ">
            <ul class="step-links pager">
                {% if all_question.has_previous %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_question.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
                    </li>
                {% endif %}

                <span class="current">
                    Page {{ all_question.number }} of {{ all_question.paginator.num_pages }}.
                </span>

                {% if all_question.has_next %}
                    <li><a href="?{{ page_request_var }}=
                            {{ all_question.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    {% else %}
        <h3>No Questions have been asked yet! :(</h3>
        <h3><a href="{% url 'qna:create' %}">Ask us a new Question</a></h3>

    {% endif %}
{% endblock %}

{% block left_content %}
    <p>Post New Question </p>
    <p><a href="{% url 'qna:create' %}" class="btn btn-primary" role="button">New Question!</a></p>
    <hr>
    <p>Search all <i>Number of questions</i> in Questionnaire:</p>
    <form method="get" action="">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search Questionnaire"
                       value="{{ request.GET.q }}">
                <span class="input-group-btn">
        <button class="btn btn-default" type="submit" value="Search"><i class="fa fa-search"></i></button>
      </span>
            </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
    </form>
    <br>

    {#    <hr>#}
    {#    <p>Filter the Search</p>#}
    {#    <br>#}
    {#    <hr>#}
{% endblock %}
